h1 {
  font-size: 48px;
  vertical-align: middle;
}
p {
  font-size: 20px;
}
body {
  text-align: center;
  margin: 16px;
}
main {
  display: inline-block;
  width: 800px;
  max-width: 800px;
  text-align: left;
  margin: 0;
  padding: 16px;
  border-radius: 12px;
}
section,
header > * {
  padding: 2px 8px;
}
section,
header > :first-child {
  padding-top: 0;
}
section,
header > :last-child {
  padding-bottom: 0;
}
header {
  text-align: right;
}
header > div {
  display: inline-block;
  text-align: center;
}
header p {
  margin: 2px 4px;
  font-size: 20px;
}
section.fitbit.logo {
  text-align: center;
  width: 500px;
}
section.fitbit.logo img {
  width: 250px;
}
section.fitbit.logo p {
  margin-top: 12px;
  margin-bottom: 0;
}
section.choices div.choice {
  padding-bottom: 8px;
}
section.choices div.choice:last-child {
  padding-bottom: 0;
}
section.choices div.choice.narrator button:after,
section.choices div.choice.audience button:after {
  content: '';
  position: absolute;
  bottom: -36px;
  display: block;
  width: 0;
}
section.choices div.choice.meta {
  text-align: center;
}
section.choices div.choice.narrator {
  text-align: left;
}
section.choices div.choice.narrator button:after {
  left: 36px;
  border-width: 36px 0 0 36px;
  box-shadow: 2px 0 0 black;
}
section.choices div.choice.audience {
  text-align: right;
}
section.choices div.choice.audience button:after {
  right: 36px;
  border-width: 36px 36px 0 0;
}
section.choices div.choice button {
  position: relative;
  text-align: left;
  font-size: 32px;
  font-family: 'Georgia', 'serif';
  padding: 16px;
  margin: 1em 0 1.5em;
  border-radius: 6px;
  max-width: 650px;
}
footer {
  padding-top: 30px;
  font-size: 12px;
}
footer p {
  font-size: 12px;
  padding-top: 4px;
  padding-bottom: 4px;
}