h1 {
  font-family: 'Calibri', 'Helvetica', 'sans-serif';
  font-weight: 700;
  letter-spacing: -1px;
}
p {
  font-family: 'Courier New', 'Courier', 'monospace';
}
a {
  color: #ffffff;
}
body {
  background-color: #000055;
}
main {
  background-color: #333388;
  color: #dddddd;
}
header p {
  font-family: 'Calibri', 'Helvetica', 'sans-serif';
}
div.choice button {
  background-color: #103810;
  color: #dddddd;
  font-family: 'Georgia', 'serif';
  border-color: #103810;
  cursor: pointer;
}
div.narrator.choice button:after,
div.audience.choice button:after {
  border-style: solid;
  border-color: #103810 transparent;
}