h1, h2, h3, h4 {
  font-weight: 700;
  font-family: 'Calibri', 'Helvetica', 'sans-serif';
  letter-spacing: -1px;
  vertical-align: middle;
}

h1 {
  font-size: 36px;
  font-weight: 700;
}

h2 {
  padding-bottom: 10px;
  font-size: 32px;
}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 24px;
}

p {
  font-family: 'Courier New', 'Courier', 'monospace';
  font-size: 20px;
}

a {
  color: #ffffff;
}

body {
  background-color: #2222aa;
  color:#dddddd;
  text-align: center;
  margin: 16px;
}

body * {
  margin: 0;
}

body > * {
  display: inline-block;
  width: 800px;
  max-width: 800px;
  text-align: left;
}

section, header > * {
  padding: 2px 8px;
}

section, header > :first-child {
  padding-top: 0;
}

section, header > :last-child {
  padding-bottom: 0;
}

header {
  text-align: right;
}

header > div {
  display: inline-block;
  text-align: center;
}

header p {
  font-size: 14px;
  font-family: 'Calibri', 'Helvetica', 'sans-serif';
}

section.game {
  padding-top: 30px;
}

section.fitbit.logo {
  text-align: center;
  width: 500px;
}

section.fitbit.logo img {
  width: 250px;
}

footer {
  padding-top: 30px;
  font-size: 12px;
}

footer p {
  font-size: 12px;
  padding-top: 4px;
  padding-bottom: 4px;
}
