<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <add key="ConsumerKey" value="" />
  <add key="ConsumerSecret" value="" />
  <add key="AppUrl" value="http://million-steps.adamrmoss.org" />
  <add key="ApiUrl" value="https://api.fitbit.com" />
  <add key="RequestTokenUrl" value="" />
  <add key="AccessTokenUrl" value="" />
  <add key="AuthorizeUrl" value="" />
</appSettings>
