@model MillionSteps.Web.Games.MomentViewModel
<!DOCTYPE html>
<html>
<head>
  <title>A Million Steps</title>
  <link type="text/css" rel="stylesheet" href="~/theme.css"/>
  <link type="text/css" rel="stylesheet" href="~/layout.css"/>
  <script src="~/Libraries/jquery.js"></script>
  <script src="~/Libraries/Ajax.js"></script>
  <script src="~/Libraries/Xhr.js"></script>
  <script src="~/Website.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
<main>
  <header>
    <div>
      <p>@Model.DisplayName</p>
      <a href="@Url.RouteUrl("Logout")">
        <p>[logout]</p>
      </a>
    </div>
  </header>
  <h1>A Million Steps</h1>
  @Html.Partial("~/Games/Views/Choices.cshtml")
  @Html.Partial("~/Views/Footer.cshtml")
</main>
</body>
</html>
