<footer>
  <p>
    &copy;@DateTime.UtcNow.Year <a href="http://www.adamrmoss.org/">Adam R Moss</a>
  </p>
  <p>
    Designed to interact with <a href="http://www.fitbit.com/">FITBIT</a>&reg; data.
  </p>
  <p>
    Fitbit is a registered trademark and service mark of Fitbit, Inc. <em>A Million Steps</em> is designed for use with the Fitbit platform. This product is not put out by Fitbit, and Fitbit does not service or warrant the functionality of this product.
  </p>
</footer>